extends layout

block content
  title = "Argonaut Client Demo"
  nav(class="navbar navbar-default navbar-static-top")
    div(class="container")
      div(class="navbar-header")
        button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target="#navbar",aria-expanded="false",aria-controls="navbar")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand",href="/") Argonaut Client Demo
      div(id="navbar",class="navbar-collapse collapse")
          li(class="active")
            a(href="/dre") DRE
          li
            a(href="/smart") SMART
        ul(class="nav navbar-nav navbar-right")
          li
            a(href="/settings") Settings
  div(class='col-sm-12')
    if prev
      #[a(href=(prev)) <-- Prev ]
    if next
      #[a(href=(next)) Next --> ]
    if patients && patients.length > 0
      div(class='panel panel-default')
        div(class='panel-heading-custom')
          if patients.length > 1
            h3(class='logo-link') Patients
          if patients.length === 1
            h3(class='logo-link') Patient
        div(class='panel-body')
          table(class='table table-hover table-bordered table-striped table-condensed')
            thead
              tr
                th Last Name
                th First Name
                th Gender
                th Date of Birth
            tbody
              each patient in patients
                tr
                  td #[a(href=('/fhir?query=/MedicationPrescription?patient=' + patient.id + '&token_id=' + patient.token_id)) #{patient.name.family}]
                  td #[a(href=('/fhir?query=/MedicationPrescription?patient=' + patient.id + '&token_id=' + patient.token_id)) #{patient.name.given}]
                  td #[a(href=('/fhir?query=/MedicationPrescription?patient=' + patient.id + '&token_id=' + patient.token_id)) #{patient.gender}]
                  td #[a(href=('/fhir?query=/MedicationPrescription?patient=' + patient.id + '&token_id=' + patient.token_id)) #{patient.birthdate}]
    if medications && medications.length > 0
      div(class='panel panel-default')
        div(class='panel-heading-custom')
          if medications.length > 1
            h3(class='logo-link') Medications
          if medications.length === 1
            h3(class='logo-link') Medication
        div(class='panel-body')
          table(class='table table-hover table-bordered table-striped table-condensed')
            thead
              tr
                th Medication
                //th Status
            tbody
              each medication in medications
                tr
                  td #{medication.name}
                  //td #{medication.status}
  div(class="text-center col-md-12 footer hidden-print")
    div.row
      h6 Made by Amida Technology Solutions | Licensed under Creative Commons