extends layout

block content
  p
    a(href='/') Back to start page 
  div
    if prev
      #[a(href=(prev)) <-- Prev ]
    if next
      #[a(href=(next)) Next --> ]
    if patients && patients.length > 0
      h1 Patient record(s)
      ul
        p Get medication prescriptions for:
        each patient in patients
          li #[a(href=('/fhir?query=' + encodeURIComponent( '/MedicationPrescription?subject:Patient=' + patient.id) + '&token_id=' + patient.token_id)) #{patient.name}]
    if medications && medications.length > 0
      h1 Medication Prescription record(s)
      ul
        each medication in medications
          li #{medication.name} #{medication.status}
  h1 Raw response on request : #{id}
  pre(id='json') #{data}
  p
    a(href='/') Back to start page 
