extends layout

block content
  title = "Argonaut Client Demo"
  nav(class="navbar navbar-default")
    div(class="container-fluid")
      div(class="navbar-header")
        a(class="navbar-brand",href="#") Argonaut Client Demo
  div(class='col-sm-12')
    div(class='well') The Argonaut Client Demo is a 3rd Party Application that allows you to see patient & medication prescription record(s) on a pre-defined set of FHIR servers.
    each client in clients
      div(class='row')
        div(class='col-sm-12')
          div(class='panel panel-default')
            div(class='panel-heading-custom')
              if client.name === 'SMART on FHIR'
                img(class='logo-smart',src='images/smart_logo.png')
              if client.name === 'DRE/FHIR (localhost:3000)'
                img(class='logo-amida',src='images/amida-brand.png')
              #[a(class='logo-link',href=(client.url), target='_blank') #{client.name} ]
            div(class='panel-body')
              table(class='table table-hover table-bordered table-striped table-condensed')
                thead
                  tr
                    th Expiration
                    th Token
                tbody
                  each user in users
                    if user.clientId == client.credentials.client_id
                      tr
                        td #{user.expirationDate.toISOString()}
                        td #[a(href=('/fhir?query=/Patient&token_id=' + user._id)) #{user.accessToken} ]

              form(name='get', action='/', method='post')
                input(type='hidden', name='client_id' value='#{client.credentials.client_id}')
                if client.name === 'SMART on FHIR'
                  input(class='btn btn-primary col-sm-12',type='submit',value='Add a new SMART on FHIR Token')
                if client.name === 'DRE/FHIR (localhost:3000)'
                  input(class='btn btn-primary col-sm-12',type='submit',value='Add a DRE User')
              //pre #{users}
