extends layout

block content
  h1 Argonaut demo client
  p Allows to see patient & medication prescription record(s) on a pre-defined set of FHIR servers. 
  //h1= title
  //p Welcome to #{title}
  div
    ul(class='clients')
      each client in clients
        li(class='client') 
          div
            .button Server : #[a(href=(client.url), target='_blank') #{client.name} ]
            
            ul(class='inline')
              li(class='truncate limm') Expiration: Token
              each user in users
                if user.clientId == client.credentials.client_id
                  li(class='truncate limm') #{user.expirationDate.toISOString()} : #[a(href=('/fhir?query=/Patient&token_id=' + user._id)) #{user.accessToken} ] 

            form(name='get', action='/', method='post')
              input(type='hidden', name='client_id' value='#{client.credentials.client_id}')
              input(type='submit',value='Get a new token')
