extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    ul
      each user in users
        li #{user.username} #[a(href=('/fhir?username=' + user.username)) ??? ] : #{user.externalId} : #{user.accessToken} : #{user.refreshToken} : #{user.expirationDate}
    form(name="get", action="/", method="post")
      input(type="text", name="username")
      input(type='submit',value='authorize')
